#root {
  margin: 0 0;
  padding: 0;
}

.content-ResultandFilter{
  display: grid;
  grid-template-areas: "filter results";
  grid-template-columns: 200px auto;
  column-gap: 70px;
  padding: 30px 35px;
}

@media screen and (max-width: 700px){
  .content-ResultandFilter{
    display: flex;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding: 20px;
    flex-direction: column;
  }
}
